@import 'tailwindcss';
@import 'tw-animate-css';

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@custom-variant dark (&:is(.dark *));


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
